<form class="modal" [formGroup]="todoForm">
  <label for="title">
    {{ isEdit ? currentTodo?.title : 'Todo title: ' }}
    <input class="test" type="text" name="title" formControlName="title" autocomplete="off"
  /></label>

  <!-- TODO: ngclass -->

  <!-- TODO: вынести тож -->

  <label for="description"
    >{{ isEdit ? currentTodo?.description : ' Todo description: ' }}
    <input type="text" name="description" formControlName="description" autocomplete="off" />
  </label>

  <label for="deadlineDate"
    >Todo deadline:
    <input type="date" name="deadlineDate" formControlName="deadlineDate" [min]="todaysDate" />
  </label>

  <button type="button" (click)="isEdit ? submitEditTodo() : addTodo()">submit</button>

  <ng-container *ngIf="formTitle.invalid">
    <div>
      {{ formTitle.errors?.['required'] ? "надо поле заполнить" : formTitle.errors?.['forbidden'] ? 'меньше слов надо' : formTitle.errors}}
    </div>
  </ng-container>

  <!-- TODO: make error type for each input -->
</form>
