.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-left: 100px;
  position: fixed;
  top: 85px;
  left: 0;

  .input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    border: none;
  }

  .error-msg {
    width: 150px;
  }

  button,
  label {
    margin-top: 20px;
  }
  input {
    width: 150px;
  }
}
