.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-left: 100px;
  position: fixed;
  top: 110px;
  left: 0;
  border: 1px solid whitesmoke;

  background-color: white;

  .error-msg {
    width: 150px;
  }

  button {
    margin-bottom: 20px;
  }

  button,
  label {
    margin-top: 20px;
  }
  input {
    width: 150px;
  }

  .test:focus {
    outline: none;
  }
}

.modal * {
  margin: 0px 20px;
}
