<ng-content></ng-content>

<div *ngIf="todos.length" class="todo-wrapper">
  <div class="sort-wrapper">
    <button type="button" (click)="sort()">sort by done</button>
    <p>{{ isSorted ? 'enabled' : 'disabled' }}</p>
  </div>

  <ul>
    <li
      *ngFor="let todo of todos | sortByDone: isSorted"
      (click)="showDesc(todo)"
      [ngClass]="todo.isDone ? 'todos done-todos' : 'todos'"
    >
      <h2 class="title">{{ todo.title }}</h2>
      <p class="description">
        {{ todo.isShown ? todo.description : '' }}
      </p>
      <p>{{ todo.deadlineDate | date: 'dd/MM/yyyy' }}</p>

      <div class="buttons">
        <button type="button" (click)="deleteTodo(todo)">delete</button>
        <button *ngIf="!todo.isDone" type="button" (click)="doneTodo(todo)">done</button>
        <button *ngIf="!todo.isDone" type="button" (click)="editTodo(todo)">edit</button>
      </div>
    </li>
  </ul>
</div>
