.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15em;
  min-height: 10em;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid ghostwhite;
  transition: background-color 0.5s;

  &:hover {
    transition: background-color 0.5s;
    background-color: ghostwhite;
  }
}

.isDone {
  background-color: rgb(209, 241, 161);

  &:hover {
    background-color: rgb(188, 240, 111);
  }

  button {
    margin: 5px;
  }
}

h2 {
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  button {
    margin: 5px;
  }
}
