<ng-content></ng-content>

<ng-container *ngIf="isCreated || isEdit">
  <form class="modal" [formGroup]="todoForm">
    <label for="title"> {{ isEdit ? currentTodo?.title : 'Todo title: ' }}</label>
    <input type="text" name="title" formControlName="title" />
    <div class="error-msg" *ngIf="formTitle?.invalid">name should be 1 to 4 words</div>

    <fieldset class="input-wrapper" [disabled]="formTitle?.invalid">
      <label for="description">{{
        isEdit ? currentTodo?.description : ' Todo description '
      }}</label>
      <input type="text" name="description" formControlName="description" />
    </fieldset>
    <div class="error-msg" *ngIf="formDescription!.invalid">up to 256 characters</div>

    <fieldset class="input-wrapper" [disabled]="formTitle?.invalid">
      <label for="deadlineDate">Todo deadline: </label>
      <input type="date" name="deadlineDate" formControlName="deadlineDate" [min]="todaysDate" />
    </fieldset>

    <button
      type="button"
      (click)="isEdit ? submitEditTodo() : addTodo()"
      [disabled]="!todoForm.valid"
    >
      submit
    </button>
  </form>
</ng-container>

<div class="todos">
  <ul>
    <li *ngFor="let todo of todos | filterByDefault">
      <h2 (click)="showDesc(todo)">{{ todo.title }}</h2>
      <p [class.extended]="todo === currentTodo" class="description">{{ todo.description }}</p>
      <p>{{ todo.deadlineDate | date: 'longDate' }}</p>
      <div class="buttons">
        <button type="button" (click)="deleteTodo(todo)">delete</button>
        <button type="button" (click)="doneTodo(todo)">done</button>
        <button type="button" (click)="editTodo(todo)">edit</button>
      </div>
    </li>
  </ul>
</div>

<div class="todos">
  <h1>Done Todos</h1>
  <ul class="done-todos">
    <li *ngFor="let todo of todos | filterByDone">
      <h2>{{ todo.title }}</h2>
      <p>{{ todo.description }}</p>
      <button type="button" (click)="deleteTodo(todo)">delete</button>
    </li>
  </ul>
</div>
