.todo-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
  }

  .sort-wrapper {
    display: flex;
    p {
      margin-left: 10px;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  button {
    margin: 5px;
  }
}

.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15em;
  min-height: 10em;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid ghostwhite;
  transition: background-color 0.5s;
  cursor: pointer;

  &:hover {
    transition: background-color 0.5s;
    background-color: ghostwhite;
  }
}

.done-todos {
  background-color: rgb(209, 241, 161);

  &:hover {
    background-color: rgb(188, 240, 111);
  }

  button {
    margin: 5px;
  }
}
