<div class="main">
  <h1>Todo app</h1>
  <button type="button" (click)="openModal()">create Todo</button>
</div>

<app-modal-dialog
  [isEdit]="isEdit"
  [todo]="todo"
  *ngIf="isCreated || isEdit"
  (addTodo)="addTodo($event)"
  (edit)="edit($event)"
></app-modal-dialog>

<div *ngIf="todos.length; else elseBlock" class="list">
  <div class="sort-wrapper">
    <input [formControl]="search" type="text" name="search" placeholder="start to type title" />
  </div>

  <div class="todo-wrapper">
    <app-todo-card
      *ngFor="let todo of todos | filterByName: search.value"
      [todo]="todo"
      (deleteTodo)="deleteTodo($event)"
      (editTodo)="submitEditTodo($event)"
    >
    </app-todo-card>
  </div>
</div>

<ng-template #elseBlock>
  <div class="list">no todos are currently in the list</div>
</ng-template>
