<div class="main">
  <h1>Todo app</h1>
  <button type="button" (click)="createTodo()">create Todo</button>
</div>

<div class="test" *ngIf="isEdit || isCreated">
  <app-modal-window
    [isCreated]="isCreated"
    [isEdit]="isEdit"
    [isTriggered]="isTriggered"
    [todoForm]="todoForm"
    [todos]="todos"
    [formTitle]="formTitle"
    [formDescription]="formDescription"
    [formDeadlineDate]="formDeadlineDate"
    [todaysDate]="todaysDate"
    [titleErrorHandler]="titleErrorHandler()"
    [descErrorHandler]="descErrorHandler()"
    [submitEditTodo]="submitEditTodo"
    [addTodo]="addTodo"
  ></app-modal-window>
</div>

<!-- TODO: naming  -->

<div *ngIf="todos.length; else elseBlock" class="list">
  <div class="sort-wrapper">
    <button type="button" (click)="sort()">
      {{ isSorted ? 'back to all' : 'show only done todos' }}
    </button>
  </div>

  <!-- TODO: make filter by input word -->

  <div class="todo-wrapper">
    <app-todo-card
      [isEdit]="isEdit"
      [todo]="todo"
      (makeChange)="refresh($event)"
      (todoEmit)="currentTodoEmit($event)"
      *ngFor="let todo of todos | filterByDone"
    >
    </app-todo-card>
  </div>
</div>

<ng-template #elseBlock>
  <div class="list">no todos are currently in the list</div>
</ng-template>
