<div class="main">
  <h1>Todo app</h1>
  <button type="button" (click)="openModal()">create Todo</button>
</div>

<app-modal-dialog
  [todo]="todoToEdit"
  *ngIf="todoToEdit || isCreated"
  (addTodo)="addTodo($event)"
  (edit)="editTodo($event)"
></app-modal-dialog>

<div *ngIf="todos.length; else elseBlock" class="list">
  <div class="sort-wrapper">
    <input
      [formControl]="search"
      type="text"
      name="search"
      placeholder="start to type a title"
      autocomplete="off"
    />
  </div>

  <div class="todo-wrapper">
    <app-todo-card
      *ngFor="let todo of todos | filterByName: search.value"
      [todo]="todo"
      (deleteTodo)="deleteTodo($event)"
      (openModal)="openModalToEdit($event)"
      (doneTodo)="doneTodo($event)"
    >
    </app-todo-card>
  </div>
</div>

<ng-template #elseBlock>
  <div class="list">no todos are currently in the list</div>
</ng-template>
