<div class="modal" *ngIf="isCreated || isEdit" [formGroup]="todoForm">
  <ng-container *ngIf="formTitle.invalid && isTriggered">
    <div>
      {{ titleErrorHandler }}
    </div>
  </ng-container>

  <label for="title">
    {{ isEdit ? todo?.title : 'Todo title: ' }}
    <input
      class="test"
      type="text"
      name="title"
      formControlName="title"
      autocomplete="off"
      [ngStyle]="{
        border:
          formTitle.valid && isTriggered
            ? '2px solid green'
            : formTitle.invalid && isTriggered
            ? '2px solid red'
            : ''
      }"
  /></label>

  <ng-container *ngIf="formDescription.invalid && isTriggered">
    <div>
      {{ descErrorHandler }}
    </div>
  </ng-container>

  <label for="description"
    >{{ isEdit ? todo?.description : ' Todo description: ' }}
    <input
      type="text"
      name="description"
      formControlName="description"
      autocomplete="off"
      [ngStyle]="{
        border:
          formDescription.valid && isTriggered
            ? '2px solid green'
            : formDescription.invalid && isTriggered
            ? '2px solid red'
            : ''
      }"
    />
  </label>

  <label for="deadlineDate"
    >Todo deadline:
    <input type="date" name="deadlineDate" formControlName="deadlineDate" [min]="todaysDate" />
  </label>

  <button
    type="button"
    [disabled]="isTriggered && todoForm.invalid"
    (click)="isEdit ? submitEditTodo(todo!) : addTodo()"
  >
    submit
  </button>
</div>
